{% load static %}
<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'assets/css/wind.css' %}" />
    <link rel="stylesheet" href="{% static 'assets\vendor\bootstrap\bootstrap-icons\bootstrap-icons.css' %}">

    
  </head>
  <body class="bg-black">

    <header class="header w-[100vw] h-[90vh]" 
    style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), 
           url({% static '\assets\img\extraction.jpg' %}); 
           background-size: cover; 
           background-position: center; 
           background-repeat: no-repeat;">

        <nav class="flex flex-row items-center justify-between p-8 nav-bar">
            <div class="flex items-center logo">
              <a href="#" class="text-white ">
              <img
                src="{% static '\assets\img\netflix-logo.png' %}"
                alt="netflix-logo"
                class="flex justify-start w-[150px]"
              />
            </a>
            </div>
      
              <ul class="flex justify-between gap-6 nav-links">
                <li class="text-white nav-link hover:text-red-500">Homy</li>
                <li class="text-white nav-link hover:text-red-500">TV Shows</li>
                <li class="text-white nav-link hover:text-red-500">Movies</li>
                <li class="text-white nav-link hover:text-red-500">New & Popular</li>
                <li class="text-white nav-link hover:text-red-500">My List</li>
                <li class="text-white nav-link hover:text-red-500">Browse by Languages</li>
              </ul>
            <div class="flex auth-container">
              <ul class="flex justify-between gap-4">
                <li><i class="text-xl text-white bi bi-search hover:text-red-500"></i></li>
                <li><i class="text-xl text-white bi bi-bell hover:text-red-500"></i></li>
                <!-- <li><img src="{% static '\assets\img\avatar2.jpg' %}" alt="" class="w-2"></li> -->
                <li><i class="text-xl text-white bi bi-person hover:text-red-500"></i></li>
              </ul>
            </div>
          </nav>
          
          <div class="flex flex-col w-1/2 gap-6 p-20 my-10 movie-info">
            <h1 class="font-extrabold text-white text-8xl">Extraction</h1>
            <small class="text-xs text-white">2020 | PG-13</small>
            <p class="space-x-2 text-lg text-white">
              Ovi Mahajan Jr., son of incarcerated Indian drug lord Ovi Mahajan Sr., sneaks out of his house to visit a club with his friend. At the party, they go to the garage to have a smoke, where they encounter corrupt police officers working for rival Bangladeshi drug lord Amir Asif. They shoot and kill Ovi Jr.'s friend and kidnap him
            </p>
            <div class="flex flex-row gap-3 btn-container">
              <button class="px-4 py-2 font-semibold text-black bg-white rounded hover:bg-gray-300"><i class="text-xl bi bi-caret-right-fill"></i> Play</button>
              <button class="px-4 py-2 text-white rounded bg-zinc-500 hover:bg-gray-400"><i class="bi bi-info-circle"></i> More info</button>
            </div>
          </div>

    </header>
    <div class="blurry bg-gradient-to-t from-black to-transparent translate-y-[-50%] py-5"></div>
     <main class="p-10 movies-lists">

      <div class="my-1 movie-list">
        <h1 class="mb-3 text-lg font-semibold text-white">Now Playing</h1>

        <div class="relative w-full">
          <div id="scroll-container" class="flex p-2 space-x-4 overflow-x-auto no-scrollbar scroll-smooth snap-x snap-mandatory">
              
            {% for movie in now_playing %}
            <a href="{% url 'watch_movie' movie.id %}">
            <div class="relative flex items-center justify-center flex-shrink-0 w-64 h-40 text-xl text-white group">
                <img src="{{movie.poster_path}}" alt="Lift" class="object-cover w-full h-full aspect-square">
                <div class="absolute bottom-0 flex items-center justify-center w-full text-lg font-semibold text-center text-white transition-all duration-300 h-1/3 bg-black/50 group-hover:h-full group-hover:bg-black/60">
                    {{movie.title}}
                </div>
            </div>
          </a>
            {% endfor %}
          </div>
      </div>
      </div>
      <div class="my-1 movie-list">
        <h1 class="mb-3 text-lg font-semibold text-white">Upcoming</h1>
        <div class="relative w-full">
          <div id="scroll-container" class="flex p-2 space-x-4 overflow-x-auto no-scrollbar scroll-smooth snap-x snap-mandatory">
              
              {% for movie in upcoming %}
              <div class="relative flex items-center justify-center flex-shrink-0 w-64 h-40 text-xl text-white group">
                  <img src="{{movie.poster_path}}" alt="Lift" class="object-cover w-full h-full aspect-square">
                  <div class="absolute bottom-0 flex items-center justify-center w-full text-lg font-semibold text-center text-white transition-all duration-300 h-1/3 bg-black/50 group-hover:h-full group-hover:bg-black/60">
                      {{movie.title}}
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
      </div>
      <div class="my-1 movie-list">
        <h1 class="mb-3 text-lg font-semibold text-white">Popular</h1>
        <div class="relative w-full">
          <div id="scroll-container" class="flex p-2 space-x-4 overflow-x-auto no-scrollbar scroll-smooth snap-x snap-mandatory">
              
            {% for movie in popular %}
            <div class="relative flex items-center justify-center flex-shrink-0 w-64 h-40 text-xl text-white group">
                <img src="{{movie.poster_path}}" alt="Lift" class="object-cover w-full h-full aspect-square">
                <div class="absolute bottom-0 flex items-center justify-center w-full text-lg font-semibold text-center text-white transition-all duration-300 h-1/3 bg-black/50 group-hover:h-full group-hover:bg-black/60">
                    {{movie.title}}
                </div>
            </div>
            {% endfor %}
          </div>
      </div>
      </div>
            <div class="my-1 movie-list">
        <h1 class="mb-3 text-lg font-semibold text-white">Top Rated</h1>

        <div class="relative w-full">
          <div id="scroll-container" class="flex p-2 space-x-4 overflow-x-auto no-scrollbar scroll-smooth snap-x snap-mandatory">
              
            {% for movie in top_rated %}
            <div class="relative flex items-center justify-center flex-shrink-0 w-64 h-40 text-xl text-white group">
                <img src="{{movie.poster_path}}" alt="Lift" class="object-cover w-full h-full aspect-square">
                <div class="absolute bottom-0 flex items-center justify-center w-full text-lg font-semibold text-center text-white transition-all duration-300 h-1/3 bg-black/50 group-hover:h-full group-hover:bg-black/60">
                    {{movie.title}}
                </div>
            </div>
            {% endfor %}
              
          </div>
      </div>
            

      


      </div>
      
    </main> 
    <footer class="flex flex-col p-10 m-20">
      <div class="flex items-center logo">
        <img
          src="{% static '/assets/img/netflix-logo.png' %}"
          alt="netflix-logo"
          class="flex justify-start w-[250px]"
        />
      </div>
      <div>
        <ul class="flex gap-8 my-8 ">
          <li><a href="#"><i class="text-4xl text-white hover:text-red-500 bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="text-4xl text-white hover:text-red-500 bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="text-4xl text-white hover:text-red-500 bi bi-twitter"></i></a></li>
          <li><a href="#"><i class="text-4xl text-white hover:text-red-500 bi bi-youtube"></i></a></li>
        </ul>
      </div>

      <div class="grid grid-cols-4 gap-12 footer-links">
        <ul class="flex flex-col gap-5">
          <li><a href="#" class="text-white hover:text-red-500">Audio Description</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Investor Relations</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Legal Notices</a></li>
        </ul>
        <ul class="flex flex-col gap-5">
          <li><a href="#" class="text-white hover:text-red-500">Help Center</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Jobs</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Cookie Preferences</a></li>
        </ul>
        <ul class="flex flex-col gap-5">
          <li><a href="#" class="text-white hover:text-red-500">Gifts Cards</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Terms of Use</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Corporate Information</a></li>
        </ul>
        <ul class="flex flex-col gap-5">
          <li><a href="#" class="text-white hover:text-red-500">Media Center</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Privacy</a></li>
          <li><a href="#" class="text-white hover:text-red-500">Contact Us</a></li>
        </ul>
      </div>
      <p class="my-20 text-slate-400">&copy; 1997-2025 Netflix,Inc.Developed by <span class="font-bold text-red-500">Tadiwa Makoni</span></p>
    </footer>
    <script src="{% static '/assets/vendor/swiperjs/swiper-bundle.min.css' %}"></script>
    <script src="{% static '/assets/js/main.js' %}"></script>
  </body>
</html>
